<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <extensions>
        <add assembly="NLogSentryTarget" />
    </extensions>
    <targets async="false">
        <target name="logfile" xsi:type="file" layout="${longdate}|${level}|${logger}|${message}${newline} ${exception:format=ToString,StackTrace}${newline}" createDirs="true" fileName="${basedir}/logs/${shortdate}.log" maxArchiveFiles="10" />
        <target name="console" xsi:type="ColoredConsole"
                layout="${time}|${callsite}|${message} ${exception}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="Black"/>
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" backgroundColor="Black"/>
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="Black"/>
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Black"/>
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
        </target>       
    </targets>
    <rules>        
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="*" minlevel="Trace" writeTo="console" />        
    </rules>
</nlog>